<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xazux.xgamelib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">

    </application>

    <!-- TODO: in gameactivity grab this in create(), apply in resume and release in pause(). -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>
